<link rel="stylesheet" href="../header/css/header.css">
<div id="_xiaozhuang_header">
  <div class="mask">
    <div class="login_tab">
      <div class="login_top">
        <div class="title">欢迎登录</div>
        <div class="close"></div>
      </div>
      <div class="login_content">
        <input type="text" id="user" placeholder="请输入账户">
        <input type="password" id="psw" placeholder="请输入密码">
        <div class="rember">
          <div class="icon left" style="display: none"></div>
          <div class="text left" style="display: none">自动登录</div>
          <div class="tips">用户名或密码错误</div>
        </div>
        <div class="button" id='button'>
          登&nbsp;&nbsp;录
        </div>
      </div>
    </div>
    <div class="pop">您的账号没有权限</div>
  </div>
  <div class="nav">
    <div id="logo-pic-area"><img class="logo-pic" src="../../../platform/www/header/images/xiaozhuang_logo_pic.png" /></div>
    <div class="logo left"></div>
    <div class="text right">
      <div class="name">登录</div>
      <div class="bg"></div>
      <div class="option">
        <div class="person">个人中心</div>
        <div class="exit">退出登录</div>
      </div>
    </div>
  </div>
</div>