@import "reset";
@import "common";

@mixin boxShadow{
  -webkit-box-shadow: 0px 0px 8px #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #e1e1e1;
  box-shadow: 0px 0px 8px #e1e1e1;
}

/***************index***************/
/*nav*/
.wrap {
  width: 100%;
  height: auto;
  font-size: 14px;
}

body, li, ul {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.mainbo-top-nav .mainbo-top-nav-box{
  width: 1200px !important;
}

/*banner*/
.banner {
  width: 100%;
  height: 869px;
  background: url("../images/banner.jpg") no-repeat center center;
}

/*login&&logo*/
.l_box {
  width: 1200px;
  height: 320px;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 50%;
  margin-left: -500px;
}

.logo {
  position: absolute;
  top: 9px;
  left: -11px;
  z-index: 20;
}

.login {
  width: 266px;
  height: 260px;
  background: #000;
  opacity: 0.3;
  filter: Alpha(opacity=30);
  position: absolute;
  top: 31px;
  right: 0px;
  z-index: 10;
}

.login_form {
  width: 226px;
  height: 204px;
  position: absolute;
  top: 59px;
  right: 20px;
  z-index: 11;
}

.logged {
  width: 266px;
  height: 260px;
  position: absolute;
  top: 31px;
  right: 0px;
  z-index: 12;
  /* display:none; */
}

.logged p {
  font-size: 18px;
  color: #fff;
  margin: 25px 0 18px 19px;
}

.photo_box {
  width: 266px;
  margin-bottom: 5px;
  position: relative;
}

.photo_box img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.back {
  position: absolute;
  font-size: 12px;
  color: #fff;
  top: 20px;
  right: 43px;
}

.back:hover {
  text-decoration: underline;
}

.logged ul {
  padding: 0 30px;
}

.logged li {
  float: left;
  width: 68px;
}

.logged li a {
  font-size: 18px;
  color: #fff;
}

.logged li a span {
  display: inline-block;
  width: 68px;
  text-align: center;
}

.logged li a .logged_num {
  font-size: 14px;
  color: #FBA002;
}

.enter_space {
  display: inline-block;
  width: 226px;
  height: 40px;
  background: #3598d9;
  outline: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-top: 18px;
  margin-left: 20px;
}

.form_type {
  display: inline-block;
  width: 226px;
  height: 40px;
  margin-bottom: 14px;
}

.form_type_bg {
  background: #B3C4CB;
  position: relative;
}

.username_img,
.password_img {
  display: inline-block;
  width: 26px;
  height: 26px;
  float: left;
  background: url(../images/index_smallIcon.png) no-repeat;
  margin-top: 7px;
  margin-left: 7px;
}

.username_img {
  background-position: 0px -131px;
}

.password_img {
  background-position: 0px -160px;
  width: 23px;
  margin-left: 10px;
}

.username,
.password {
  width: 182px;
  height: 40px;
  background: #fff;
  margin-left: 7px;
  border: none;
  outline: none;
  line-height: 40px;
  font-size: 12px;
  padding-left: 4px;
}

.username_bg {
  display: inline-block;
  width: 120px;
  height: 14px;
  background: url(../images/username.png) no-repeat;
  position: absolute;
  top: 13px;
  right: 61px;
  z-index: 12;
  cursor: text;
}

.password_bg {
  display: inline-block;
  width: 120px;
  height: 14px;
  background: url(../images/password.png) no-repeat;
  position: absolute;
  top: 13px;
  right: 61px;
  z-index: 12;
  cursor: text;
}

.code_input {
  width: 132px;
  height: 40px;
  line-height: 40px;
  border: none;
  outline: none;
  float: left;
  font-size: 12px;
  padding-left: 4px;
}

.code_img {
  display: inline-block;
  width: 77px;
  height: 40px;
  margin-left: 13px;
}

.code_img img {
  width: 100%;
  height: 100%;
}

.login_button {
  display: block;
  width: 226px;
  height: 40px;
  background: #3598d9;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
}

/*notice*/
.notice {
  width: 100%;
  height: 28px;
  background: #fff;
}

.notice_content {
  width: 1200px;
  margin: 0 auto;
}

.notice_content span {
  display: inline-block;
  width: 17px;
  height: 15px;
  background: url(../images/index_smallIcon.png) no-repeat;
  background-position: 0 -64px;
  float: left;
  margin-top: 8px;
}

.notice_list {
  float: left;
  margin-left: 9px;
  height: 28px;
  overflow: hidden;
}

.notice_list li {
  height: 28px;
  line-height: 28px;
}

.notice_list a {
  font-size: 12px;
  color: #3597d6;
}

.more {
  font-size: 12px;
  color: #828282;
  cursor: pointer;
  float: right;
  margin-top: 7px;
}

/*main_content*/
.main_content {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.main_box {
  width: 1200px;
  margin: 0 auto;
  margin-top: -427px;
}


.main_type {
  width: 1200px;
  margin: 0 auto;
}

.main_left_type {
  width: 794px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.pad-19 {
  padding: 0 19px;
  border: 1px solid #eee;
  background: #fff;
}

.pad-15 {
  padding: 0 15px;
  border: 1px solid #eee;
  background: #fff;
}



.discipline_list {
  height: 64px;
  position: relative;
}

.discipline_list ul {
  width: 520px;
  height: 45px;
  display: inline-block;
  position: absolute;
  left: 98px
}

.discipline_list span {
  letter-spacing: 12px;
  display: inline-block;
  width: 71px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  line-height: 35px;
  background: url(../images/index_smallIcon.png) no-repeat;
  background-position: 0 -93px;
  padding-left: 27px;
  position: absolute;
  /*float:left;*/
  margin: 13px 26px 0 0;
}

.discipline_type {
  /*float:left;*/
  overflow: hidden;
}

.discipline_type li {
  /*float:left;*/
  display: inline-block;
  padding: 0 18px;
  border-left: 2px #828282 solid;
  height: 13px;
  line-height: 10px;
  margin-top: 25px;
  margin-left: -2px;
}

.discipline_type li a {
  font-size: 14px;
  color: #828282;
}

.discipline_type li a:hover {
  color: #3598d9;
}

.news {
  height:332px;
  padding:0px 20px;
  background: rgba(0,0,0,.8);
  .title{
    background:none;
    border-bottom:none;
    height: 56px;
    a{
      font-size: 14px;
      line-height: 56px;
    }
  }
}

.tab_type {
  width: 344px;
  height: 56px;
  float: left;
}

.tab_type li {
  float: left;
  width: 86px;
  font-size: 16px;
  color: #e4e4e4;
  cursor: pointer;
  text-align: center;
  line-height: 56px;
  height: 56px;
}

.tab_type .tab_active {
  color: #f3c258;
  font-size: 18px;
  font-weight: bold;
  background: url(../images/tab_active.png) no-repeat bottom;
}

.newscontent_box {
  padding: 12px 0px 0px 352px;
  height:244px;
  position: relative;
  .img{
    position: absolute;
    width: 336px;
    height:242px;
    left: 0px;
    top:12px;
    img{
      width: 100%;
      height:100%;
      display: block;
    }
  }
}

.newscontent-box-con{
  width: 100%;
  h2{
    a{
      font-size:16px;
      color: #e3b553;
      font-weight:bold;
      text-decoration: underline;
    }
    padding-bottom: 12px;
  }
  .dtl{
    font-size: 12px;line-height: 21px;
    padding-bottom: 8px;
    border-bottom:1px #dadada dashed;
    color: #dadada;
  }
}
.tab{
  margin-top: 6px;
}
.tab li {
  line-height: 32px;
  height: 32px;
  padding: 0 0px 0 18px;
  overflow: hidden;
  background: url("../images/list_circle.png") no-repeat 2px 15px;
}

.tab li a {
  float: left;
  font-size: 14px;
  color: #dadada;
  display: block;
  max-width: 260px;
  height: 34px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab li a:hover {
  text-decoration: underline;
}

.tab li .time {
  float: right;
  color: #dadada;
  font-size: 12px;
}

.tab .news_title {
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab .news_title a {
  font-size: 16px;
  color: #383838;
  font-weight: 700;
}

.tab .news_title a:hover {
  text-decoration: none;
}
.goodspace {
  height: 420px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  .title{
    border:none;
    padding-left:44px;
    padding-bottom:14px;
    background: url("../images/title_hotarea.png") no-repeat 2px 8px;
    strong{
      font-size:22px;
      font-weight: normal;
    }
  }
}

.goodspace_type {
  height: 32px;
  overflow: hidden;
  margin-bottom: -8px;
}

.goodspace_type li {
  float: left;
  width: 198px;
  font-size: 14px;
  color: #9a9a9a;
  cursor: pointer;
  height: 32px;
  margin-left: -1px;
  text-align: center;
  background: url("../images/dec_line.png") #f5f5f5 no-repeat left 6px;
}

.goodspace_type li span {
  display: inline-block;
  float: left;
  width: 100%;
  height: 30px;
  line-height: 32px;
}

.goodspace_type .goodspace_active span {
  color: #383838;
  border-bottom: 3px $bluecolor solid;
}

.goodspace_content {
  overflow: hidden;
  padding-bottom: 19px;
  width: 100%;
}

.goodspace_content li {
  width: 248px;
  height: 80px;
  float: left;
  margin-right: 22px;
  margin-top: 30px;
  &:nth-child(3n){
    margin-right: 0px;
  }
}

.goodspace_content li:hover {
  @include boxShadow;
}

.people_news {
  height: 80px;
  padding-left: 96px;
  position: relative;
}

.people_news dt {
  position: absolute;
  width: 80px;
  height: 80px;
  top:0px;
  left:0px;
}

.people_news dt img {
  display: block;
  width: 100%;
  height: 100%;
}

.people_news dd {
  font-size: 14px;
  color: #828282;
  width: 114px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.people_news .name {
  font-size: 16px;
  color: #383838;
  font-weight: bold;
  line-height: 40px;
}

.main_right_type {
  width: 388px;
  float: right;
  font-size: 14px;
  color: #383838;
}

.main_right_type .title {
  font-weight: normal;
}

.title .min-nav {
  float: left;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  padding-left: 28px;
  margin-top: 15px;
}

.title .min-nav li {
  float: left;
  width: 38px;
  height: 20px;
  color: #828282;
  text-align: center;
  margin-right: 4px;
  cursor: pointer;
}

.title .min-nav .active {
  color: #fff;
  background: #3498d8;
}

.resources {
  height: 238px;
  position: relative;
}

.resources .file {
  position: relative;
  padding: 10px 0 10px 40px;
}

.resources .file-name {
  display: block;
  line-height: 24px;
  height: 24px;
  color: #383838;
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resources .file-name:hover {
  text-decoration: underline;
}

.resources .message {
  line-height: 20px;
  font-size: 12px;
  color: #828282;
}

.resources time {
  float: right;
  margin-right: 22px;
}

.resources .file-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 20px;
  height: 20px;
  background: red;
  background: url(../images/icon.png) no-repeat;
  background-position: 0 0;
}

.doc-icon {
  background-position: -20px -40px;
}

.img-icon {
  background-position: 0 0;
}

.zip-icon {
  background-position: 0 -20px;
}

.ppt-icon {
  background-position: -20px 0px;
}

.pdf-icon {
  background-position: 0 -20px;
}

.other-icon {
  background-position: -60px 0;
}

/*成果*/
.result {
  height: 317px;
  margin-top: 10px;
  position: relative;
}

.result .result-li {
  line-height: 30px;
  font-size: 14px;
}

.result .dian {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 8px;
  margin-right: 6px;
  background: url(../images/index_smallIcon.png) no-repeat left;
  background-position: 0 -83px;
}

.result .name {
  float: left;
  max-width: 200px;
  color: #383838;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result-list {
  padding-top: 10px;
}

.result time {
  float: right;
  color: #828282;
  font-size: 12px;
}

.member-dyn {
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  .title{
    padding-left: 36px;
    font-size: 22px;
    border:none;
    padding-bottom: 14px;
    background: url("../images/title_personal.png") no-repeat 0px 8px;
    strong{
      font-weight:normal;
    }
  }
}
.dyn-list-box{
  width: 100%;
  height: 356px;
  overflow: hidden;
}
.dyn-list {
  margin-top: -1px;
  border-left:1px #d7d7d7 solid;
  margin-left: 8px;
}

.dyn-li {
  padding: 11px 0 0px 28px;
  background: url("../images/list_circle_blue.png") no-repeat 3px 36px;
  margin-left:-8px;
}
.dyn-li-innerbox{
  padding-left: 74px;
  border-bottom:1px #e1e1e1 solid;
  position: relative;
  width: 275px;
  height: 66px;
  padding-bottom: 11px;
}
.dyn-li .member-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 66px;
  height: 66px;
}

.member-dyn .member-pic img {
  width: 100%;
  height: 100%;
}

.member-dyn .dyn-name {
  display: block;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member-dyn .message {
  margin-top: 10px;
  line-height: 24px;
  font-size: 14px;
  color: #828282;
}

.member-dyn span {
  float: left;
  max-width: 58px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member-dyn time {
  float: right;
  margin-right: 5px;
  max-width: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*热门工作室*/


/*school*/
.school {
  width: 1200px;
  background: #fff;
  margin-top: 30px;
  position: relative;
  position: relative;
}

.school_title {
  width: 962px;
  padding-left: 40px;
  height: 45px;
  line-height: 45px;
  font-size:22px;
  background: url("../images/title_school.png") no-repeat 2px 8px;
}

.school_title strong {
  color: #383838;
  float: left;
  margin-left: 8px;
  font-weight: normal;
}

.school_title a {
  font-size: 12px;
  color: #828282;
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

.schoolimgs_box {
  position: relative;
  padding: 14px 0;
}

.slider_schoolimg {
  width: 920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 150px;
}

.slider_schoolimg ul {
  /* left:0px;
  height:126px; */
}

.slider_schoolimg li {
  float: left;
  width: 230px;
  padding: 0 10px;
  box-sizing: border-box;
  // height:182px;
  position: relative;
}

.slider_schoolimg .space-pic {
  display: block;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.slider_schoolimg .space-pic img {
  width: 100%;
  height: 100%;
}

.slider_schoolimg .space-name {
  line-height: 20px;
  margin-top: 10px;
  font-size: 16px;
}

.slider_schoolimg .space-name a {
  color: #383838;
}

.slider_schoolimg .space-area {
  line-height: 20px;
  color: #828282;
  font-size: 12px;
}

.hot-school ul {
  width: 1200px;
}

.hot-school li {
  float: left;
  width: 178px;
  height: 178px;
  margin-right: 24px;
  position: relative;
  border:1px solid #e1e1e1;
  &:hover{
    border-color: #f5f5f5;
    -webkit-box-shadow: 0px 1px 8px #e1e1e1;
    -moz-box-shadow: 0px 1px 8px #e1e1e1;
    box-shadow: 0px 1px 8px #e1e1e1;
  }

}
.hot-school li:last-child{
  margin-right: 0px;
}
.hot-school a {
  display: block;
  height: 100%;
}

.hot-school img {
  width: 100%;
  height: 100%;
}

.hot-school li span {
  display: inline-block;
  width: 100%;
  height: 38px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 38px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*numberlibrary*/
.numberlibrary {
  width: 1200px;
  // height:292px;
  margin-top: 16px;
  .title{
    padding-left: 36px;
    background:url("../images/title_library.png") no-repeat 2px 9px;
    border:none;
    strong{
      font-weight: normal;
      font-size: 22px;
      border-bottom:none;
    }
  }
}

.numberlibrary_left {
  // height:290px;
}

.numberlibrary_content {
  padding: 14px 0 0 0;
}

.numberlibrary_list_box li {
  width: 256px;
  height: 98px;
  margin-bottom: 18px;
  float: left;
  margin-right: 18px;
  padding: 12px 14px;
  border:1px #e1e1e1 solid;
  &:hover{
    border-color:transparent;
    box-shadow: 0px 1px 8px #e1e1e1;
  }
  &:nth-child(4n){
    margin-right: 0px;
  }
}
.book_news{
  padding-left: 100px;
  height: 100px;
  position: relative;
}
.book_news dt {
  position: absolute;
  left: 0px;
  top:0px;
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

.book_news dt img {
  width: 80px;
  height: 100px;
}

.book_news .book_name {
  font-size: 16px;
  color: #383838;
  line-height: 24px;
  height: 48px;
  width: 166px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.startreading {
  width: 78px;
  height: 26px;
  font-size: 14px;
  color: #828282;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: none;
  border: 1px #828282 solid;
  outline: none;
  cursor: pointer;
  margin-top:20px;
}

.startreading:hover {
  border-color:$bluecolor;
  color: $bluecolor;
}

.numberlibrary_right {
  width: 258px;
  height: 290px;
  border: 1px solid #eee;
  float: right;
  background: #fff;
}

.answering_title {
  width: 100%;
  height: 46px;
  background: #ededed;
}

.answering_title li {
  float: left;
  width: 86px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  color: #828282;
  cursor: pointer;
}

.answering_title .answering_active {
  background: #3598d9;
  color: #fff;
}

.answering_title a {
  font-size: 12px;
  color: #828282;
  cursor: pointer;
  float: right;
  margin-top: 14px;
  margin-right: 18px;
}

.answering_content {
  width: 226px;
  height: 244px;
  padding: 0 16px;
}

.answering_list {
  display: none;
}

.answering_list li {
  line-height: 39px;
  width: 203px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.answering_list li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/index_smallIcon.png) no-repeat;
  background-position: 0 -83px;
}

.answering_list li a {
  font-size: 14px;
  color: #828282;
}

.answering_list li a:hover {
  color: #383838;
  text-decoration: underline;
}

/*link_content*/
.link_content {
  width: 1200px;
  // height:141px;
  background: #fff;
  margin-top: 12px;
}

.link_title {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  padding-left:42px;
  background: url("../images/title_link.png") no-repeat 2px 9px;
}

.link_title strong {
  font-size: 22px;
  color: #383838;
  font-weight:normal;
}

.link_content ul {
  padding: 14px 0 30px 0;
  line-height: 95px;
}

.link_content ul img {
  vertical-align: top;
  width: 168px;
  height: 68px;
}

.link_content li {
  float: left;
  width: 168px;
  height: 68px;
  margin-right: 38px;
}
.link_content li:nth-child(6n){
  margin-right:0px;
}

.backToTop {
  display: none;
  width: 40px;
  height: 40px;
  padding: 13px;
  background: #ABABAB;
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 100px;
  cursor: pointer;
}

.login-hint {
  display: inline-block;
  width: 120px;
  height: 14px;
  position: absolute;
  top: 0px;
  right: 61px;
  z-index: 12;
  cursor: text;
  line-height: 40px;
  font-size: 12px;
  color: #828282;
}

#school_space {
  height: 180px;
}

#no-content,#no-data {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin: -90px 0 0 -100px; */
  line-height: 323px;
  height: 180px;
  clear: both;
  /* width: 200px; */
  color: #a9a9a9;
  text-align: center;
  background: url(../images/noContent.png) center -20px no-repeat;
}
#no-data{
  background: url(../images/nodata.png) center center no-repeat;
}

.dyn-list #no-content {
  margin-top: 45px;
}

.school #no-content {
  /*margin-top: -106px;*/
}

/***************teaching***************/
.teaching_iframe_box {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#superContainer #mainbo-top-nav { //==?
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#menu {
  position: fixed;
  right: 30px;
  top: 50%;
  width: 10px;
  margin-top: -50px;
  padding: 0;
  z-index: 3;
}

#menu li {
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 10px;
}

#menu li a {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  text-indent: -100px;
  background: url(../images/menu_a_bg.png) no-repeat;
}

#menu li.active a {
  background: url(../images/menu_a_hover_bg.png) no-repeat;
}

.teaching_one_content {
  width: 1200px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -500px;
}

.teaching_one_left {
  width: 416px;
  height: 376px;
  float: left;
  margin-top: 27px;
  display: none;
}

.teaching_one_right {
  width: 506px;
  height: 326px;
  float: left;
  margin-top: 27px;
  margin-left: 50px;
  padding-top: 50px;
}

.teaching_one_right img {
  position: absolute;
  top: 80px;
  right: -120%;
  display: none;
}

.teaching_one_download {
  display: inline-block;
  width: 160px;
  height: 51px;
  background: url(../images/teaching_one_4.png) no-repeat;
  cursor: pointer;
  position: absolute;
  right: 181px;
  top: 262px;
  display: none;
}

.student_one_download {
  display: inline-block;
  width: 160px;
  height: 51px;
  background: url(../images/student_one_4.png) no-repeat;
  cursor: pointer;
  position: absolute;
  right: 346px;
  top: 262px;
  display: none;
}

.teaching_one_button {
  display: inline-block;
  width: 145px;
  height: 54px;
  background: url(../images/teaching_one_3.png) no-repeat;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 260px;
  display: none;
}

.teaching_two_left {
  width: 482px;
  height: 352px;
  position: absolute;
  top: 50%;
  margin-top: -176px;
  left: -120%;
  display: none;
}

.teaching_two_right {
  width: 444px;
  height: 210px;
  position: absolute;
  top: 50%;
  margin-top: -105px;
  right: -120%;
  display: none;
}

.teaching_three_left {
  width: 556px;
  height: 385px;
  position: absolute;
  left: 0px;
  bottom: -120%;
}

.teaching_three_right {
  width: 444px;
  height: 210px;
  position: absolute;
  right: -120%;
  top: 50%;
  margin-top: -85px;
  display: none;
}

.teaching_four_left {
  width: 556px;
  height: 385px;
  float: left;
  margin-top: 39px;
  display: none;
}

.teaching_four_right {
  width: 444px;
  height: 210px;
  float: left;
  margin-top: 140px;
  display: none;
}

.teaching_five_left {
  width: 556px;
  height: 385px;
  position: absolute;
  top: 50%;
  margin-top: -192px;
  left: -120%;
}

.teaching_five_right {
  width: 444px;
  height: 210px;
  position: absolute;
  top: 50%;
  margin-top: -105px;
  right: 0;
  display: none;
}

/***************teachingResearch***************/
/*one*/
.research_one_bg {
  width: 100%;
  height: 50%;
  background: #F4F4F2;
  position: absolute;
  top: 0;
  left: 0;
}

.research_one_bg2 {
  width: 100%;
  height: 50%;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.research_content {
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -500px;
  z-index: 2;
}

.one_img1 {
  width: 50%;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -25%;
  display: none;
}

.one_img2 {
  display: block;
  width: 46%;
  position: absolute;
  top: 420px;
  left: -120%;
  margin-left: -23%;
  display: none;
}

.research_one_content span {
  display: inline-block;
  width: 180px;
  height: 76px;
  background: url(../images/research_one_img3.png) no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: -120%;
  margin-right: -80px;
  display: none;
}

/*two*/
.two_img1 {
  width: 60%;
  position: absolute;
  right: -120%;
  margin-right: -30%;
  top: 40px;
  display: none;
}

.research_two_left {
  width: 357px;
  height: 497px;
  position: absolute;
  left: -120%;
  top: 100px;
  display: none;
}

.research_two_right {
  width: 600px;
  height: 497px;
  position: absolute;
  right: 0px;
  top: 100px;
}

.research_two_right_type {
  width: 112px;
  height: 142px;
  position: absolute;
  cursor: pointer;
}

.research_two_right_type dt {
  width: 112px;
  height: 112px;
  background: url(../images/research_icon.png) no-repeat;
}

.research_two_right_type dd {
  font-size: 16px;
  color: #828282;
  text-align: center;
  margin-top: 5px;
}

.research_two_right_type .dl_hover {
  display: none;
}

.research_two_right_type1 {
  top: 20px;
  left: 256px;
  display: none;
}

.research_two_right_type1 dt {
  background-position: -112px 0;
}

.research_two_right_type1 .dl_hover {
  position: absolute;
  top: 137px;
  left: -45px;
  z-index: 5;
}

.research_two_right_type2 {
  top: 164px;
  left: 72px;
  display: none;
}

.research_two_right_type2 dt {
  background-position: 0 0;
}

.research_two_right_type2 .dl_hover {
  position: absolute;
  top: -210px;
  left: -43px;
  z-index: 5;
}

.research_two_right_type3 {
  top: 164px;
  left: 432px;
  display: none;
}

.research_two_right_type3 dt {
  background-position: -224px 0;
}

.research_two_right_type3 .dl_hover {
  position: absolute;
  top: -210px;
  left: -43px;
  z-index: 5;
}

.research_two_right_type4 {
  top: 343px;
  left: 138px;
  display: none;
}

.research_two_right_type4 dt {
  background-position: -448px 0;
}

.research_two_right_type4 .dl_hover {
  position: absolute;
  top: -210px;
  left: -43px;
  z-index: 5;
}

.research_two_right_type5 {
  top: 343px;
  left: 371px;
  display: none;
}

.research_two_right_type5 dt {
  background-position: -336px 0;
}

.research_two_right_type5 .dl_hover {
  position: absolute;
  top: -210px;
  left: -43px;
  z-index: 5;
}

.trans {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-backface-visibility: hidden;
}

.trans:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}

/*three*/
.research_three_content {
  width: 100%;
  height: 100%;
  background: url(../images/research_three_bg.jpg) no-repeat;
  background-size: 100%, 100%;
}

.three_img1 {
  width: 60%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  top: 40px;
  display: none;
}

.three_img2 {
  position: absolute;
  left: 50%;
  margin-left: -288px;
  bottom: -120%;
  display: none;
}

.research_three_type {
  width: 112px;
  position: absolute;
  cursor: pointer;
}

.research_three_type dt {
  width: 112px;
  height: 0px;
  background: url(../images/research_icon.png) no-repeat;
}

.research_three_type dd {
  font-size: 16px;
  color: #828282;
  text-align: center;
  margin-top: 5px;
  display: none;
}

.research_three_type1 {
  top: 260px;
  left: 130px;
  height: 0px;
  display: none;
}

.research_three_type2 {
  top: 140px;
  left: 250px;
  display: none;
}

.research_three_type3 {
  top: 100px;
  left: 430px;
  display: none;
}

.research_three_type4 {
  top: 140px;
  left: 620px;
  display: none;
}

.research_three_type5 {
  top: 260px;
  left: 750px;
  display: none;
}

.research_three_type1 dt {
  background-position: 0 -120px;
}

.research_three_type2 dt {
  background-position: -224px -120px;
}

.research_three_type3 dt {
  background-position: -112px -120px;
}

.research_three_type4 dt {
  background-position: -448px -120px;
}

.research_three_type5 dt {
  background-position: -336px -120px;
}

.research_three_type1 .dl_hover,
.research_three_type5 .dl_hover {
  position: absolute;
  left: -40px;
  top: -200px;
  z-index: 5;
}

.research_three_type2 .dl_hover,
.research_three_type3 .dl_hover,
.research_three_type4 .dl_hover {
  position: absolute;
  left: -44px;
  top: 135px;
  z-index: 5;
}

.research_three_type .dl_hover {
  display: none;
}

/***************space***************/
.space_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.space_bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.space_box {
  width: 780px;
  height: 546px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -273px 0 0 -390px;
  z-index: 2;
}

.space_button {
  display: block;
  width: 161px;
  height: 52px;
  background: url(../images/space_button.png) no-repeat;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
}

/***************application***************/
.application_wrap {
  width: 100%;
  height: auto;
  background: #F7F7F7;
}

.application_banner {
  width: 100%;
  height: 320px;
  background: #1D83D8;
}

.application_banner_box {
  width: 1200px;
  height: 320px;
  margin: 0 auto;
}

.banner_img {
  display: inline-block;
  float: left;
  margin-top: 13px;
  margin-left: -56px;
}

/*recommended*/
.recommended {
  width: 272px;
  height: 274px;
  background: #fff;
  float: right;
  margin-top: 23px;
  margin-right: 5px;
}

.recommended h4 {
  width: 237px;
  height: 39px;
  line-height: 39px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #383838;
  padding-left: 3px;
}

.recommended_list {
  width: 252px;
  height: 234px;
  padding: 0 10px;
  position: relative;
}

.recommended_list li {
  height: 78px;
  position: relative;
  cursor: pointer;
}

.recommended_list .attribution {
  bottom: 10px;
}

.recommended_list span {
  margin-top: 0;
}

.recommended_list li:hover {
  background: #ededed;
}

.recommended_type {
  width: 187px;
  height: 78px;
  float: left;
  padding-left: 16px;
}

.recommended_type dt {
  width: 60px;
  height: 60px;
  float: left;
  margin-top: 9px;
  margin-right: 13px;
  /*background:url(../images/application_icon.png) no-repeat;*/
}

.recommended_type dt img {
  width:60px;
  height:60px;
}

.recommended_type .recommended_img1 {
  background-position: 0 -660px;
}

.recommended_type .recommended_img2 {
  background-position: 0 -360px;
}

.recommended_type .recommended_img3 {
  background-position: 0 -240px;
}

.type_title {
  font-size: 14px;
  color: #383838;
  margin-top: 4px;
}

.type_title a {
  font-size: 14px;
  color: #383838;
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.recommended .type_title a {
  max-width: 110px;
}

.recommended_list .type_title {
  padding-top: 15px;
}

.add_text {
  font-size: 12px;
  color: #828282;
  margin-top: 5px;
}

.add_num {
  color: #f50303;
  margin-right: 3px;
}

.praise_text {
  font-size: 12px;
  color: #fca102;
  margin-top: 6px;
}

.praise {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(../images/praise.png) no-repeat;
  background-position: -14px 0;
  cursor: pointer;
  float: left;
  margin-right: 6px;
}

.praise:hover {
  background: url(../images/praise.png) no-repeat;
  background-position: 0 0;
}

.add_button {
  display: inline-block;
  width: 52px;
  height: 28px;
  background: url(../images/add_button.png) no-repeat;
  margin-top: 13px;
  cursor: pointer;
}

/*content*/
.application_content {
  width: 968px;
  background: #fff;
  height: auto;
  margin: 10px auto;
  padding: 0 16px;
}

.application_content .application_content_header {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #383838;
  border-bottom: 1px solid #eee;
  padding-left: 9px;
  width: 953px;
  margin-left: 2px;
}

.application_content .application_content_header strong {
  float: left;
}

.application_content_type {
  float: left;
  margin-left: -10px;
}

.application_content_type li {
  float: left;
  border-right: 1px solid #eee;
  height: 24px;
  margin-top: 13px;
  padding: 0 15px;
  cursor: pointer;
}

.application_content_type .application_noborder {
  border-right: none;
}

.application_content_type .application_active span {
  background: #3598d9;
  color: #fff;
}

.application_content_type li span {
  display: inline-block;
  padding: 0 12px;
  height: 29px;
  line-height: 26px;
  text-align: center;
  margin-top: -3px;
  float: left;
  font-size: 14px;
  color: #828282;
}

.application_content_box {
  width: 968px;
  height: auto;
}

.application_content_list {
  width: 981px;
  padding-top: 18px;
  padding-left: 3px;
  min-height: 200px;
  height: auto;
  display: none;
  position: relative;
  /*visibility:hidden;*/
}

.application_content_list:after {
  content: "";
  display: block;
  clear: both;
}

.application_content_list li {
  width: 304px;
  height: 86px;
  border: 1px solid #eee;
  float: left;
  margin-right: 21px;
  margin-bottom: 21px;
  padding-top: 12px;
  position: relative;
  cursor: pointer;
}

.application_content_list li:hover {
  box-shadow: 0 0 5px #888686;
}

.application_content_list dt {
  width: 72px;
  height: 72px;
  /*background:url(../images/application_icon.png) no-repeat;*/
  float: left;
  margin: -2px 15px 0 14px;
}

.application_content_list dt > img {
  width: 72px;
  height: 72px;
}

.application_content_list .application_content_icon1 {
  background-position: 0px 0px;
}

.application_content_list .application_content_icon2 {
  background-position: 0px -660px;
}

.application_content_list .application_content_icon3 {
  background-position: 0px -120px;
}

.application_content_list .application_content_icon4 {
  background-position: 0px -60px;
}

.content_add_button {
  display: inline-block;
  width: 52px;
  height: 28px;
  background: url(../images/add_button.png) no-repeat;
  margin-top: 13px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 16px;
  display: none;
}

.attribution {
  font-size: 12px;
  color: #828282;
  position: absolute;
  right: 10px;
  top: 17px;
  cursor: pointer;
}

.bg {
  display: inline-block;
  width: 320px;
  height: 114px;
  background: url(../images/li_hover.png) no-repeat;
  position: absolute;
  top: -7px;
  left: -8px;
  z-index: 3;
  border: none;
  display: none;
}

/***************resources***************/
.resources_wrap {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}

#initial {
  width: 1200px;
  margin: 60px auto 0 auto;
  padding-bottom: 20px;
}

.clearFix:after {
  content: "";
  display: block;
  clear: both;
}

/* ��������Ϣ */
.all-ann {
  height: 46px;
  line-height: 46px;
  background: #f5f5f5;
}

.ann-pic {
  display: inline-block;
  width: 25px;
  height: 25px;
  float: left;
  margin: 17px 9px 0 5px;
  background: url(../images/resources_icon.png) no-repeat -105px -13px;
}

.ann-box {
  width: 940px;
  height: 46px;
  padding-left: 30px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.ann-box ul {
  position: absolute;
  left: 0;
}

.ann-box li {
  float: left;
  margin-right: 34px;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ann-box a {
  font-size: 12px;
  color: #828282;
}

.ann-box a:hover {
  color: #383838;
}

/* cont-top */
.cont-top {
  height: 973px;
}

.cont-top-left {
  float: left;
  width: 780px;
  height: 973px;
  margin-right: 10px;
}

[class^='unpraise'], .praised {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(../images/praise.png) no-repeat;
  cursor: pointer;
  float: left;
  margin-right: 6px;
}

[class^='unpraise'] {
  background-position: -14px 0;
}

.cont-top-l-t {
  height: 729px;
  margin-bottom: 10px;
}

.cont-menu {
  float: left;
  width: 198px;
  height: 728px;
  border: 1px solid #3598d9;
  border-top: none;
  background: #fff;
}

.all-res {
  width: 198px;
  height: 56px;
  line-height: 56px;
  background: #3598d9;
  color: #fff;
  font-size: 16px;
}

.all-pic {
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url(../images/all-pic.png) no-repeat;
  float: left;
  margin: 22px 10px 0 40px;
}

.menu-nav {
  height: 672px;
}

.menu-nav li {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #eee;
  color: #3598d9;
  font-size: 14px;
  width: 166px;
  padding-left: 32px;
  cursor: pointer;
  position: relative;
}

.menu-li .more-pic {
  position: absolute;
  top: 23px;
  right: 20px;
  display: inline-block;
  width: 10px;
  height: 15px;
  background: url(../images/resources_icon.png) no-repeat -93px -15px;
}

.cont-mews {
  float: right;
  width: 570px;
  height: 729px;
}

.box {
  width: 568px;
  height: 252px;
  border: 1px solid #eee;
  background: #fff;
}

.box-head {
  border-bottom: 1px solid #3598d9;
  height: 38px;
}

.head-list {
  padding-left: 10px;
  padding-top: 2px;
  float: left;
}

.head-list li {
  float: left;
  line-height: 36px;
  padding: 0 28px;
  color: #828282;
  font-size: 16px;
  cursor: pointer;
}

.head-list .head-active {
  background: #3598d9;
  color: #fff;
}

.class-videos {
  display: none;
}

.class-box {
  width: 164px;
  float: left;
  margin: 16px 13px 0 12px;
}

.class-pic {
  display: block;
  width: 164px;
  height: 100px;
}

.class-pic img {
  width: 100%;
  height: 100%;
}

.class-name {
  margin-top: 4px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #383838;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.class-box .more-msg {
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  font-size: 12px;
  color: #828282;
}

.class-box .teacher-name {
  color: #3598d9;
}

.zhuanti {
  height: 227px;
  margin-top: 10px;
}

.head-border {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #383838;
  margin: 8px 0 0 11px;
  padding-left: 12px;
  border-left: 6px solid #3598d9;
}

.box-more {
  float: right;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  margin: 8px 15px 0 0;
  color: #828282;
}

.sub-pic {
  display: inline-block;
  float: left;
  width: 242px;
  height: 156px;
  margin: 9px;
  position: relative;
}

.sub-name {
  display: inline-block;
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 265px;
  height: 28px;
  background: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 2;
}

.sub-text {
  display: inline-block;
  width: 227px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 19px;
  bottom: -14px;
  z-index: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sub-list {
  float: left;
  width: 262px;
  height: 171px;
  margin: 9px 0 0 32px;
}

.sub-list li {
  width: 250px;
  padding-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  line-height: 27px;
}

.sub-list .dot {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #b1b1b1;
  top: 13px;
  left: 3px;
}

.sub-list .asub-name {
  font-size: 12px;
  color: #383838;
}

.sub-list .asub-name:hover {
  text-decoration: underline;
}

.mingshi {
  height: 224px;
  margin-top: 10px;
}

.ateacher {
  float: left;
  width: 100px;
  margin: 20px 0 19px 10px;
}

.ateacher-pic {
  display: block;
}

.ateacher-pic img {
  width: 100px;
  height: 100px;
}

.ateacher .teacher-name {
  display: block;
  line-height: 26px;
  font-size: 14px;
  color: #3598d9;
  text-align: center;
}

.ateacher .ateacher-msg {
  font-size: 12px;
  color: #828282;
  line-height: 17px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont-top-l-b {
  width: 778px;
  height: 232px;
  border: 1px solid #eee;
  background: #fff;
}

.head-con2 {
  width: 778px;
  height: 183px;
  padding-top: 10px;
}

.list2-con {
  display: none;
}

.school-type {
  height: 22px;
  line-height: 22px;
  width: 758px;
  padding-left: 20px;
}

.school-type li {
  float: left;
  line-height: 22px;
  padding: 0 10px;
  margin-right: 13px;
  font-size: 14px;
  color: #828282;
  cursor: pointer;
}

.school-type .school-type-active {
  float: left;
  line-height: 22px;
  padding: 0 10px;
  background: #3598d9;
  color: #fff;
}

.res {
  width: 758px;
  padding-left: 20px;
  display: none;
}

.ares {
  height: 20px;
  line-height: 20px;
  padding: 5px 0;
  float: left;
  width: 227px;
  margin-right: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ares span,
.small-box-list .res-pic,
.bottom-res .res-pic {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/resources_icon.png) no-repeat;
  float: left;
  margin-top: 4px;
  margin-right: 6px;
}

.small-box-list .res-pic {
  margin-left: 10px;
  margin-top: 6px;
}

.res-name {
  font-size: 12px;
  color: #383838;
}

.res-name:hover {
  text-decoration: underline;
}

.ares .res-pic-t,
.small-box-list .res-pic-t,
.bottom-res .res-pic-t {
  background-position: 0 -12px;
}

.ares .res-pic-w,
.small-box-list .res-pic-w,
.bottom-res .res-pic-w {
  background-position: -15px -12px;
}

.ares .res-pic-x,
.small-box-list .res-pic-x,
.bottom-res .res-pic-x {
  background-position: -30px -12px;
}

.ares .res-pic-p,
.small-box-list .res-pic-p,
.bottom-res .res-pic-p {
  background-position: -60px -12px;
}

.ares .res-pic-i,
.small-box-list .res-pic-i,
.bottom-res .res-pic-i {
  background-position: -45px -12px;
}

.ares .res-pic-v,
.small-box-list .res-pic-v,
.bottom-res .res-pic-v {
  background-position: -75px -12px;
}

.cont-top-right {
  float: right;
  width: 210px;
  height: 973px;
}

.small-box {
  width: 208px;
  height: 284px;
  border: 1px solid #eee;
  background: #fff;
}

.small-box p {
  width: 192px;
  height: 37px;
  line-height: 37px;
  padding-left: 16px;
  font-size: 16px;
  color: #383838;
  border-bottom: 1px solid #3598d9;
}

.small-box-list {
  padding-top: 10px;
}

.small-box-list li {
  height: 28px;
  line-height: 28px;
}

.small-box-list a {
  font-size: 12px;
  color: #383838;
  float: left;
  display: inline-block;
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.small-box-list .res-time {
  font-size: 12px;
  color: #828282;
  float: right;
  margin-right: 5px;
}

.small-box-margin {
  margin-top: 10px;
  height: 332px;
}

.quyu-list li {
  height: 27px;
  line-height: 27px;
}

.quyu-list .res-pic {
  width: 12px;
  height: 12px;
  margin-top: 8px;
}

.quyu-list .ranking1 {
  background-position: 0 0;
}

.quyu-list .ranking2 {
  background-position: -12px 0;
}

.quyu-list .ranking3 {
  background-position: -24px 0;
}

.quyu-list .ranking4 {
  background-position: -36px 0;
}

.quyu-list .ranking5 {
  background-position: -48px 0;
}

.quyu-list .ranking6 {
  background-position: -60px 0;
}

.quyu-list .ranking7 {
  background-position: -72px 0;
}

.quyu-list .ranking8 {
  background-position: -84px 0;
}

.quyu-list .ranking9 {
  background-position: -96px 0;
}

.quyu-list .ranking10 {
  background-position: -108px 0;
}

/* cont-top   end*/
/* cont-top   end*/
.cont-bottom {
  width: 1200px;
  height: 201px;
  margin-top: 10px;
}

.cont-bottom-left {
  width: 493px;
  height: 199px;
  border: 1px solid #eee;
  float: left;
  background: #fff;
}

.level-type {
  float: left;
  margin-left: 37px;
}

.level-type li {
  float: left;
  padding: 0 10px;
  font-size: 14px;
  color: #828282;
  margin-right: 13px;
  height: 37px;
  line-height: 37px;
  margin-top: 1px;
  cursor: pointer;
}

.level-type .level-active {
  background: #3598d9;
  color: #fff;
}

.bottom-con {
  width: 493px;
  height: 150px;
}

.grade-type {
  width: 493px;
}

.bottom-res {
  width: 473px;
}

.bottom-res li {
  width: 211px;
}

.cont-bottom-right {
  width: 493px;
  height: 199px;
  border: 1px solid #eee;
  background: #fff;
  float: right;
}

.bottom-img {
  float: left;
  margin-right: 17px;
}

.bottom-img img {
  height: 139px;
}

.bottom-res dd {
  font-size: 12px;
  color: #828282;
  line-height: 23px;
}

.bottom-res dd a {
  color: #383838;
  display: inline-block;
  width: 222px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bottom-res dd a:hover {
  text-decoration: underline;
}

.bottom-con-name {
  display: inline-block;
  width: 40px;
  float: right;
  margin-right: 32px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.show {
  display: block;
}

.hint-pic {
  width: 77px;
  height: 40px;
  position: absolute;
}

.hint {
  position: absolute;
  font-size: 14px;
  top: -25px;
  left: 0px;
  height: 30px;
  line-height: 30px;
  color: red;
  display: none;
}

.news-banner {
  width: 100%;
  height: 320px;
  background: url(../images/news-banner.jpg) center no-repeat;
}

.news-img-box {
  width: 1200px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}

.news-img1 {
  position: absolute;
  top: 115px;
  left: 81px;
}

.news-img2 {
  position: absolute;
  top: 40px;
  right: 0px;
}

.notice-banner {
  width: 100%;
  height: 320px;
  background: url(../images/notice-banner.jpg) center no-repeat;
}

.notice-img {
  position: absolute;
  top: 125px;
  left: 262px;
}

.statistics {
  height: 242px;
  border: none;
  padding:0px 27px;
  background: rgba(0,0,0,.8);
}

.statistics .item {
  display: inline-block;
  width: 108px;
  text-align: center;
}

.statistics .icon {
  display: block;
  width: 82px;
  height: 82px;
  padding: 0;
  margin: 46px auto 0;
}

.icon-user {
  background: url("../images/index_user.png") no-repeat;
}

.icon-resource {
  background: url("../images/index_resource.png") no-repeat;
}

.icon-space {
  background: url("../images/index_space.png") no-repeat;
}

.statistics .title1 {
  font-size: 16px;
  color: #e4e4e4;
  border: none;
  margin: 20px 0 14px;
}

.statistics .count {
  font-size: 18px;
  color: #e3b553;
}

.btn-myspace {
  height: 68px;
  line-height: 68px;
  margin-top: 21px;
  border-radius: 4px;
  color: #fff;
  background-color: #ef4756;
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
}

/*教学资源等入口*/
.enter-block{
  margin-top:22px;
  overflow: hidden;
  .fl{
    width: 942px;
  }
  .fr{
    width: 258px;
  }
}
.enter-block-item{
  display: block;
  height: 172px;
  float: left;
  cursor: default;
  &.document{
    height: 348px;
    width:258px;
    background: url("../images/document.jpg") no-repeat;
    .enter-block-con .btn-blue{
      margin-top: 140px;
      cursor: pointer;
    }
  }
  &.teach,&.activity{
    width:250px;
  }
  &.area,&.data{
    width:467px;
    margin-top: 4px;
  }
  &.teach{
    margin-right:4px;
    background: url("../images/teach.jpg") no-repeat;
  }
  &.activity{
    background: url("../images/activity.jpg") no-repeat;
  }
  &.area{
    background: url("../images/area.jpg") no-repeat;
  }
  &.studio{
    width: 430px;
    margin-right:4px;
    background: url("../images/studio.jpg") no-repeat;
  }
  &.data{
    margin-right:4px;
    background: url("../images/data.jpg") no-repeat;
  }
  &:hover .enter-block-con{
    display: block;
  }
}
.enter-block-con{
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  text-align: center;
  display: none;
  .btn-blue{
    width:192px;
    height: 55px;
    margin-top: 60px;
    cursor: pointer;
  }
}
