<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
  <title>数据监控系统</title>
  <link rel="stylesheet" href="../statistics/css/main.css">
</head>
<body data-module="person">
<div class="bg-gradient">
  <%- include('view/_header.ejs') %>
  <div class="wrap">
    <%- include('view/_sidebar.ejs', {currentPage : 'user'}) %>
    <div class="content">
      <%- include('view/_user_top.ejs', {currentPage : 'userdetail'}) %>
      <div class="row echart">
        <div class="echart-mark-top-right"></div>
        <div class="echart-title">用户统计明细</div>
        <div class="wrapTable clearfix">
          <div class="wrapTableTop">
            <div class="wrapTableTopExport">
              <span></span>
              <strong>导出数据</strong>
            </div>
            <div class="dataWrap">
              <input placeholder="请输入日期" class="laydate-icon" id="date">
              <input type="button" value="确定" class="dateConfirmBtn dateUserBtn">
            </div>
          </div>
          <div class="role-city tableWrap clearfix" id="table_edu">
            <table>
              <thead>
              <tr>
                <th style="width:140px;">时间</th>
                <th style="width:110px;">区域</th>
                <th style="width:130px;">累计使用用户数</th>
                <th style="width:120px;">当天使用用户数</th>
                <th style="width:140px;">昨日使用用户数</th>
                <th style="width:170px;">过去7天使用用户数</th>
                <th style="width:170px;">过去30天使用用户数</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="pageToolUseredu"></div>

          </div>
          <div class="role-county tableWrap clearfix" id="table_area">
            <table>
              <thead>
              <tr>
                <th style="width:140px;">时间</th>
                <th style="width:110px;">学校</th>
                <th style="width:130px;">累计使用用户数</th>
                <th style="width:120px;">当天使用用户</th>
                <th style="width:140px;">昨日使用用户数</th>
                <th style="width:170px;">过去7天使用用户数</th>
                <th style="width:170px;">过去30天使用用户数</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="pageToolUserarea"></div>
          </div>
          <div class="role-school tableWrap clearfix" id="table_school">
            <table>
              <thead>
              <tr>
                <th style="width:138px;">时间</th>
                <th style="width:122px;">用户姓名</th>
                <th style="width:200px;">当日使用平台次数</th>
                <th style="width:143px;">首次登录时间</th>
                <th style="width:180px;">过去7天使用平台次数</th>
                <th style="width:185px;">过去30天使用平台次数</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div id="pageToolUserschool"></div>
          </div>
        </div>
      </div>
    </div>
    <%- include('view/_footer.ejs') %>
  </div>
</div>
<script type="text/javascript" src="../../../../lib/component/laydate/js/laydate.js"></script>
<script src="../../../../lib/requires/requires.js" data-main="../statistics/js/module_detail.js"></script>
<script type="text/javascript">
  laydate.skin('shenlan'); //切换皮肤
</script>
</body>
</html>