
<div class="nav_tit">
  <a href="../home/index.html">首页</a>  &gt;
  <a href="../news/sitenewsListInCategory.html?currentPage=1&tab=1">新闻列表</a> &gt;
  <span>正文</span>
</div>

<div class="wrap content clearFix">
  <div class="message-content">
    <p class="content-link"></p>
    <div class="content-box" >
      <h2 class="title_noborder">
        新闻标题
      </h2>
      <div class="" id="newcontent">
        <span class="text-time">时间</span>
        <p class="content-text">
          新闻内容
        </p>
      </div>
    </div>
    <p class="content-link content-link-bottom"></p>
  </div>
  <div class="important-message">
    <h3 class="imp-title">
      新闻推荐
    </h3>
    <ul id="toplistnews" class="imp-message"></ul>
  </div>
</div>