
<div class="nav_tit">
    <a href="../home/index.html">首页</a>   &gt;  <a href="../news/sitenewsListInCategory.html">新闻列表</a>
</div>
<!-- content -->
<div class="wrap content clearFix">
    <div class="message-content">
        <h2 class="news-top clearFix">
          <span id ="newstab" class="news-title news-title-active" category="1">
            教育新闻
          </span>
            <span id="resulttab" class="news-title" category="2">
            成果展示
          </span>
        </h2>
        <ul id="edunews" class="cont-message" style="display:block;" ></ul>
        <ul id="result" class="cont-message" ></ul>
        <ul id="pages" class="pages"></ul>
    </div>
    <div class="important-message">
        <h3 class="imp-title">
            新闻推荐
        </h3>
        <ul id="toplistnews" class="imp-message"></ul>
    </div>
</div>