<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-stand" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <title>优课智慧教育云平台</title>
    <link href="../home/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../home/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../news/css/news_detail.css" />
    <link href="../home/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  </head>
  <body>
    <%- include('../../../public/standard/header/view/_header.ejs') %>
    <!-- banner -->
    <%- include('../news/view/_news_banner.ejs') %>

    <%- include('../news/view/_news_detail.ejs') %>

    <%- include('../../../public/standard/footer/view/_footer.ejs') %>
    <script src="../../../lib/requires/requires.js" data-main="../news/js/news_detail.js"></script>
  </body>
</html>