<div class="banner"></div>
<div class="teachingWrap">
  <div class="teaching">
    <div class="teachingLeft">
      <h3><span>教研成果</span><a href="#" style="display: none">更多</a></h3>
      <ul>
        <li ><a href="javascript:void(0);" class="liact" data-type="0">教案</a></li>
        <li><a href="javascript:void(0);" data-type="1">课件</a></li>
        <li><a href="javascript:void(0);" data-type="2">反思</a></li>
        <li><a href="javascript:void(0);" data-type="3">计划总结</a></li>
        <li><a href="javascript:void(0);" data-type="4">教学文章</a></li>
      </ul>
      <div class="teachingAchievements">
        <ol>
        </ol>
      </div>
    </div>
    <div class="teachingRight">
      <h3><span>教研动态</span></h3>
      <div class="dyn-list-box">
        <ul class="dyn-list" id="dynamic_list">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tAStatistics">
  <div class="statistics">
    <h3>教研成果统计</h3>
    <div id="teaAchSta">

    </div>
  </div>
</div>
