<link rel="stylesheet" href="../footer/css/footer.css">
<div id="xiaozhuang_footer">
  <p>copyright 2017 版权所有南京晓庄&nbsp;&nbsp;&nbsp;&nbsp;技术支持&nbsp;明博教育科技股份有限公司</p>
  <p>京ICP备**************&nbsp;京公安网备*************号</p>
</div>