
<div class="nav_tit">
  <a href="../home/index.html">首页</a>  &gt;
  <a href="../notice/noticeList.html">公告列表</a>
</div>

<!-- content -->
<div class="wrap content clearFix">
  <div class="message-content">
    <ul id="noticelist">
    </ul>
    <ul id="pages" class="pages">
    </ul>
  </div>
  <div class="important-message">
    <h3 class="imp-title">
      重要公告
    </h3>
    <ul id="importnotice" class="imp-message"></ul>
  </div>
</div>