$width: 1200px;
$fontFamily: 微软雅黑;
$mainColor: #abc;
$mainBackground: #152646 url('../images/bg1.jpg') repeat-x center 5%;
$mainFontSize: 16px;
$border: 1px solid #436cd4;

// sidebar start
$s_width: 140px;
$s_height: 95px;
$s_border: $border;
$s_color: #bdd6ff;
$s_activeColor: #fff;
$s_background: rgba(52, 95, 201, .4);
$s_activeBg: rgba(59, 117, 255, .55);
$s_fontSize: $mainFontSize;
// sidebar end

// footer start
// footer end

