<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <link href="../home/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  <link rel="stylesheet" href="../../../base/css/base.css">
  <link rel="stylesheet" href="../../../lib/component/upload/css/image.css">
  <link href="../../../lib/layer/skin/layer.css" rel="stylesheet">
  <link rel="stylesheet" href="../persCenter/css/persCenter.css">
</head>
<body>
<%- include('../header/view/_header.ejs') %>
<%- include('../../standard/persCenter/view/_center_content.ejs') %>
<%- include('../footer/view/_footer.ejs') %>
<script src="../../../lib/requires/requires.js" data-main="../persCenter/js/persCenter.js"></script>

</body>
</html>