<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="../home/images/favicon-96d5f5f650.ico" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" href="../../../base/css/base-8681d0a2a5.css">
    <link rel="stylesheet" href="../../../lib/component/upload/css/image-d781afd070.css">
    <link href="../../../lib/layer/skin/layer-03c29ce29a.css" rel="stylesheet">
    <link rel="stylesheet" href="css/persCenter.css">
</head>
<body>
<link rel="stylesheet" href="../../../public/header/css/header-daf1d87f97.css">
<div class="wrap_top_bg baiyin">
  <div class="wrap_top">
    <div class="logo">
      <a href="javascript:void(0)">
        <img src="" alt="">
      </a>
    </div>
    <div class="chooseArea tabchoose">
      <a class="area" href="javascript:;">
        <span class="kh">[</span>
        <span class="scholl_name">白银区</span>
        <span class="arrow arrowDown"></span>
        <span class="kh">]</span>
      </a>
      <div class="chooseList schoolChoose">
        <ul id="schoolList"></ul>
      </div>
    </div>
    <div id="nav" class="nav clearfix">
      <div class="nav_top">
        <div class="msg tabchoose">
          <div class="msgT clearfix">
            <ul id="login_message" class="nav_top_ul">
              <li class="favorite_button">添加收藏</li>
              <li>|</li>
              <li class="home_button">设为首页</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav_bottom">
        <ul class="clearfix"></ul>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="school_list">
    {{each data}}
      {{if $index%4 == 0 }}
      <li class="list clearfix">
      {{/if}}
        <span data-id="{{$value.id}}"><a href="javascript:;" title="{{$value.name}}">{{$value.showName}}</a></span>
      {{if ($index+1)%4 == 0}}
      </li>
      {{/if}}
    {{/each}}
  </script>
<script type="text/html" id="loginMessage">
  <li>|</li>
  <li class="userName">
    {{if data.code == "login_error" }}
    <span class="loginButton">登录</span>
    {{else}}
    <span>{{data.data.userInfo.name}}&nbsp;
      <span class="arrow arrowDown"></span>
    </span>

    <div class="chooseList myChoose clearfix">
      <ul class="clearfix">
        {{if data.data.userType == 1 }}
        <li>
          <a href="{{data.userJumpHref.spaceManager}}">机构空间</a>
        </li>
        <li>
          <a href="{{data.userJumpHref.myApp}}">我的应用</a>
        </li>
        {{else}}
        <li>
          <a href="{{data.userJumpHref.mySpace}}">我的空间</a>
        </li>
        <li>
          <a href="{{data.userJumpHref.myApp}}">我的应用</a>
        </li>
        <li>
          <a href="{{data.userJumpHref.personCenter}}">个人中心</a>
        </li>
        {{/if}}
        <li>
          <a class="logout" href="javascript:void(0)">退出</a>
        </li>
      </ul>
    </div>
    {{/if}}
  </li>
  {{if data.code != "login_error" && data.data.userType == 1 }}
  <li>|</li>
  <li>
    <a href="{{data.userJumpHref.adminManager}}" target="_blank">后台管理</a>
  </li>
  {{/if}}
  <!-- <li>|</li>
     <li>消息(<b>5</b>)</li>-->
</script>
<script type="text/html" id="navList">
    
    {{each navList}}
      {{if $value.childNav}}
        <li class="resourceNav{{$index == 5 ? ' nav_act' : ''}}">
          <a href="javascript:void(0)" class="nav_li">{{$value.name}}<span class="arrow"></span></a>
          <div class="chooseList resource clearfix">
            <ul class="clearfix">
              {{each $value.childNav}}
                <li class="list"><a href="{{$value.url}}">{{$value.name}}</a></li>
              {{/each}}
            </ul>
          </div>
      {{else}}
        <li>
          <a href="{{$value.url}}" class="nav_li{{$index == 5 ? ' nav_act' : ''}}{{ $value.type ? ' verify_app_enter' : ''}}"  type="{{$value.type}}"  {{$value.newOpen=='true' ? 'target=_blank' : ''}}>{{$value.name}}</a>
      {{/if}}
      </li>
    {{/each}}
  </script>
<div class="persCenter clearFix">
  <div class="perCenSelect">
    <div class="userLogo">
      <div class="userLogoCen">
        <img class="logoImg" src="images/teacherPic.png" alt="">
      </div>
      <p class="userName"></p>
    </div>
    <p class="userInfoText">个人信息</p>
    <ul class="selLists">
      <li class="selList select" data_type="basicInfor"><p>基本资料</p></li>
      <li class="selList" data_type="setUserLogo"><p>头像设置</p></li>
      <li class="selList" data_type="passWord"><p>密码修改</p></li>
      <li class="selList" data_type="inforChange"><p>绑定信息</p></li>
    </ul>
  </div>
  <div class="perCenCon clearFix">
    <div class="titleWrap">
      <div class="cenConTitle curr">基本资料</div>
      <div class="subTitle" style="display: none;">
        <span>手机号绑定</span>
      </div>
    </div>
    <!--基本资料-->
    <div class="basicInfor eMailCodeHide">
      <div id="userName" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">姓名</span>
        </div>
        <input maxlength="10" class="conCen cenMark" readonly unselectable="on" type="text" data-old="" value="">
        <span class="clues"></span>
      </div>
      <div id="userNum" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">帐号</span>
        </div>
        <input class="conCen" readonly unselectable="on" type="text" value="">
      </div>
      <div id="sexEdit" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">性别</span>
        </div>
        <div class="mbSelect" style="display: none">
          <p class="selShow">男</p>
          <ul class="mbSel">
            <li><p class="select">男</p></li>
            <li><p class="select">女</p></li>
          </ul>
        </div>
        <input class="conCen" readonly unselectable="on" type="text" value="">
      </div>
      <div id="userUnit" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">所在单位</span>
        </div>
        <input class="conCen" readonly unselectable="on" type="text" value="">
        <span class="clues"></span>
      </div>
      <div id="stuSchNum" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">学籍号</span>
        </div>
        <input class="conCen" readonly unselectable="on" type="text" value="">
      </div>
      <div id="userPhone" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">联系电话</span>
        </div>
        <input class="conCen cenMark" readonly unselectable="on" type="text" data-old=""
               value="">
        <span class="clues"></span>
      </div>
      <div id="userEmail" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">电子邮箱</span>
        </div>
        <input class="conCen cenMark" readonly unselectable="on" type="text" data-old=""
               value="">
        <span class="clues"></span>
      </div>

      <div id="userSubject" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">职务信息</span>
        </div>
        <ul class="classInfo"></ul>
        <ul class="classInfoSelect" style="display: none;"></ul>
      </div>


      <div id="perName" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">家长姓名</span>
        </div>
        <input class="conCen" readonly unselectable="on" type="text" value="">
      </div>
      <div id="perPhone" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">家长联系方式</span>
        </div>
        <input class="conCen cenMark" readonly unselectable="on" type="text" data-old=""
               value="">
        <span class="clues"></span>
      </div>

      <div class="perCenBtn">
        <div class="btn editBtn">编辑</div>
        <div class="btn saveBtn">保存</div>
        <div class="btn cancelBtn">取消</div>
      </div>
    </div>

    <!--头像设置-->
    <div class="setUserLogo" style="display: none">
      <div id="userLogo" class="inforList clearFix">
        <div class="setUserPic">
          <div class="UserPicImg">
            <img data-old=""
                 src="" alt="">
          </div>
          <div class="upLoading"></div>
          <div id="editImg2" class="editImg" style="display: none"><span>编辑头像</span></div>
        </div>
        <p class="fileSizeTip">支持JPG、JPEG、PNG格式，大小限制2M以内</p>
      </div>

      <div class="perCenBtn">
        <div class="btn editBtn">编辑</div>
        <div class="btn saveBtn">保存</div>
        <div class="btn cancelBtn">取消</div>
      </div>
    </div>

    <!--密码修改-->
    <div class="passWord" style="display: none">
      <div id="priCode" class="inforList clearFix">
        <div class="conLeft">
          <span class="icon-star-pseudo text">原始密码</span>
        </div>
        <input maxlength="20" class="conCen conChange" type="password" value="">
        <span class="clues">请输入您的原始密码</span>
      </div>
      <div id="newPwd" class="inforList clearFix">
        <div class="conLeft">
          <span class="icon-star-pseudo text">新密码</span>
        </div>
        <input maxlength="20" class="conCen conChange" type="password" value="">
        <span class="clues">6-20位字符，建议数字、字母、标点符号组合</span>
      </div>
      <div id="againNewPwd" class="inforList clearFix">
        <div class="conLeft">
          <span class="icon-star-pseudo text">确认密码</span>
        </div>
        <input maxlength="20" class="conCen conChange" type="password" value="">
        <span class="clues">6-20位字符，建议数字、字母、标点符号组合</span>
      </div>

      <div class="perCenBtn">
        <div class="btn pwdSaveBtn">保存</div>
      </div>
    </div>

    <!--绑定信息-->
    <div class="inforChange" style="display: none">
      <p class="inforChangeTip">绑定邮箱后可直接用邮箱地址进行登录</p>
      <div id="userLoginEmail" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">电子邮箱</span>
        </div>
        <input class="conCen cenMark" readonly unselectable="on" type="text" data-old="" value="">
        <span class="binded" data-show="false">（已绑定）</span>
        <p class="eMailCode">发送验证码</p>
        <span class="clues"></span>
      </div>
      <div id="LoginEmailCode" class="inforList clearFix">
        <div class="conLeft">
          <span class="text">请输入校验码</span>
        </div>
        <input maxlength="10" class="conCen cenMark" readonly unselectable="on" type="text">
        <span class="clues"></span>
      </div>
      <div class="perCenBtn">
        <div class="btn editBtn">更换邮箱</div>
        <div class="btn saveBtn">确定</div>
        <div class="btn cancelBtn">取消</div>
      </div>
    </div>

    <!--安全验证-->
    <div class="securityVerification" style="display: none;">
      <p class="inforChangeTip">绑定后可直接使用手机号码进行登录</p>
      <div class="inforList clearFix" id="securityPhone">
        <div class="conLeft">
          <span class="text">手机号码</span>
        </div>
        <input class="conCen cenMark" readonly unselectable="on" type="text" data-old="" value="">
        <span class="binded" data-show="false">（已绑定）</span>
        <p class="eMailCode">发送验证码</p>
        <span class="clues"></span>
      </div>
      <div class="inforList clearFix" id="securityCode">
        <div class="conLeft">
          <span class="text">请输入校验码</span>
        </div>
        <input maxlength="10" class="conCen cenMark" readonly unselectable="on" type="text">
        <span class="clues"></span>
      </div>
      <div class="perCenBtn">
        <div class="btn editBtn">更换手机号</div>
        <div class="btn saveBtn">保存</div>
        <div class="btn cancelBtn">取消</div>
      </div>
    </div>

  </div>
</div>

<link rel="stylesheet" href="../../../public/footer/css/footer-c4b8cdbee1.css">

<div id="mainbo_footer">
  <!--<div>
    <ul>
      <li><p>版权所有：白银区教育局</p><p>版本号：1.2</p></li>
      <li><p>客服热线：400-898-5166</p><p>每天9：00-17：30(法定节假日除外)</p></li>
      <li><img src="images/code.png" /><p>扫一扫,关注我们获得更多教育咨询</p></li>
      <li class="main_last_msg"><p>网站技术支持：明博教育科技股份有限公司</p></li>
    </ul>
  </div>-->
</div>
<script src="../../../lib/requires/requires-4aa88d7e5f.js" data-main="../persCenter/js/persCenter-3d5ddcbdb3.js"></script>

</body>
</html>