
<div class="earth row echart">
  <div class="echart-mark-top-right"></div>
  <div class="echart-title">区域概况</div>
  <div class="mapData">
    <div class="linebg">
      <!--<div class="bgTop"> </div>-->
      <div id="lineWrap" class="bgline">
       <!-- <div id="line1" >
          <img src="./images/line.png" />
        </div>
        <div id="line2"></div>-->
      </div>
      <div class="map">
        <div class="mapBackground">
        </div>
        <div class="mapImg">
          <!--<div class="landmark landmark1">
            <div class="wave1">
              <div class="wave2">
                <div class="wave3">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="landmark landmark2">
            <div class="wave1 wave11">
              <div class="wave2 wave21">
                <div class="wave3 wave31">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="landmark landmark3">
            <div class="wave1 wave111">
              <div class="wave2 wave211">
                <div class="wave3 wave311">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="landmark landmark4">
            <div class="wave1 wave11">
              <div class="wave2 wave21">
                <div class="wave3 wave31">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="landmark landmark5">
            <div class="wave1">
              <div class="wave2">
                <div class="wave3">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="landmark landmark6">
            <div class="wave1 wave11">
              <div class="wave2 wave21">
                <div class="wave3 wave31">
                  <div class="landmarkBg"></div>
                </div>
              </div>
            </div>
          </div>-->
          <img src="./images/map.png" alt="">
        </div>
      </div>
      <div class="mapNum" >
        <div class="mapNumbox" id="mapNum1"></div>
        <div class="mapNumbox" id="mapNum2"></div>
        <div class="mapNumbox" id="mapNum3"></div>
        <div class="mapNumbox" id="mapNum4"></div>
        <div class="mapNumbox" id="mapNum5"></div>
        <div class="mapNumbox" id="mapNum6"></div>
        <div class="mapNumbox" id="mapNum7"></div>
      </div>
    </div>
  </div>
</div>