<div class="role-city role-county row row1 row1-user-type row1-space">
  <div class="item-wrap" data-href="space_echart.html">
    <div class="item <%- currentPage === 'echart'?'active':'' %>">
      <span class="icon icon-echart"></span>
      图表统计
    </div>
  </div>
  <div class="item-wrap" data-href="space_detail.html" style="display: none;">
    <div class="item <%- currentPage === 'detail'?'active':'' %>">
      <span class="icon icon-detail"></span>
      数据明细
    </div>
  </div>
</div>
<div class="role-city role-county divider row1-user-type"></div>
