<div class="footer cf">
  <p>技术运营支持：明博教育科技股份有限公司&nbsp;&nbsp;&nbsp;&nbsp; 客户服务热线：400-898-5166</p>
  <p>Copyright&copy; mainbojiaoyu.cn All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;鄂 ICP 备 0235635 号 -2</p>
</div>