<div class="header">
  <div class="header-center">
    <div class="position">
      <span class="icon icon-location"></span><strong></strong>
      <div class="exit"><span class="icon icon-exit"></span><span>退出</span></div>
    </div>
    <div class="logo"></div>
  </div>
</div>