<div class="role-city role-county row row1 row1-user-type row1-resource">
  <div class="item-wrap" data-href="resource_total.html">
    <div class="item <%- currentPage === 'total'?'active':'' %>">
      <span class="icon icon-user"></span>
      资源总量
    </div>
  </div>
  <div class="item-wrap" data-href="resource_sync.html">
    <div class="item <%- currentPage === 'sync'?'active':'' %>">
      <span class="icon icon-map"></span>
      同步教学资源
    </div>
  </div>
  <div class="item-wrap" data-href="resource_ugc.html">
    <div class="item <%- currentPage === 'ugc'?'active':'' %>">
      <span class="icon icon-airplane"></span>
      教师上传资源
    </div>
  </div>
  <div class="item-wrap" data-href="resource_detail.html">
    <div class="item <%- currentPage === 'detail'?'active':'' %>">
      <span class="icon icon-detail"></span>
      数据明细
    </div>
  </div>
</div>
<div class="role-city role-county divider row1-user-type"></div>
