<div class="row row1 row1-user-type">
  <div class="item-wrap" data-href="user_type.html">
    <div class="item <%- currentPage === 'usertype'?'active':'' %>">
      <span class="icon icon-user"></span>
      用户类型
    </div>
  </div>
  <div class="role-city role-county item-wrap" data-href="user_area.html">
    <div class="item <%- currentPage === 'userarea'?'active':'' %>">
      <span class="icon icon-map"></span>
      用户地域分布
    </div>
  </div>
  <div class="item-wrap" data-href="user_participation.html">
    <div class="item <%- currentPage === 'userparticipation'?'active':'' %>">
      <span class="icon icon-airplane"></span>
      用户参与度
    </div>
  </div>
  <div class="item-wrap" data-href="user_detail.html">
    <div class="item <%- currentPage === 'userdetail'?'active':'' %>">
      <span class="icon icon-detail"></span>
      数据明细
    </div>
  </div>
</div>
<div class="divider row1-user-type"></div>
