@charset "UTF-8";
/*all*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

input,
textarea {
    outline: none;
}

body,
a,
button,
input,
select,
textarea {
    font-family: Microsoft YaHei;
    color: #383838;
    word-wrap: break-word;
}

body {
    background-color: #f4f6f9;
    font-size: 12px;
}

/* 清浮动 */
.clearFix {
    zoom: 1;
}

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

#login .hint-icon, #box .icon {
    width: 20px;
    height: 20px;
    z-index: 999;
    background-image: url(../images/icon.png);
}

.show-box {
    width: 1000px;
    height: 460px;
    position: fixed;
    top: 10%;
    left: 50%;
    margin: 0 0 0 -500px;
    z-index: 1;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 411px;
    height: 65px;
    /*background: url(../images/logo.png);*/
}
.logo img{
    width: 411px;
    height: 65px;
}
.logo1 {
    width: 343px;
    height: 92px;
    background: url(../images/logo1.png);
}

.content {
    height: 342px;
    width: 1000px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/loginBj.jpg);
    box-shadow: 0 0 12px #676767;
}

#login {
    width: 334px;
    height: 374px;
    position: absolute;
    top: -16px;
    right: 40px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px #9a9a9a;
    padding: 0 29px;
    box-sizing: border-box;
}

#login .title {
    font-size: 24px;
    color: #333;
    margin-top: 27px;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}

#login .hint {
    line-height: 50px;
    height: 50px;
    font-size: 12px;
    color: #ff0500;
}

#login .hint-icon {
    background-position: -40px 0;
    display: inline-block;
    vertical-align: middle;
}

#login #subimt {
    display: block;
    margin-top: 40px;
    font-size: 20px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: #17acff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#box .hint-bj {
    color: #828282;
    -moz-user-select: none;
    z-index: 5;
}

#box .icon {
    position: absolute;
    top: 12px;
    left: 10px;
}

#box .icon-password {
    background-position: -20px 0;
}

#box p {
    height: 42px;
    line-height: 42px;
    margin-bottom: 22px;
    position: relative;
    border: 1px solid #ccc;
}

#box p:nth-child(3) {
    width: 30%;
}
#box .hint-bj, #box input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 42px;
    padding: 0 10px 0 44px;
    z-index: 10;
}

#box .username_bg,#box .password_bg{
    background-repeat: no-repeat;
    background-position: 44px 12px;
}
#box .username_bg {
    background-image: url(../images/username.png);
}
#box .password_bg {
    background-image: url(../images/password.png);
}
#mainbo_footer {
    width: 100%;
    background-color: #ededed;
    padding: 20px 0;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #383838;
}

#mainbo_footer ul {
    overflow: hidden;
}

#mainbo_footer ul li {
    float: left;
    width: 25%;
    height: 100px;
    border-left: 1px solid #cbcbcb;
    margin-left: -1px;
    padding-top: 30px;
}

#mainbo_footer img {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    display: block;
    margin-top: -15px;
}

#mainbo_footer p {
    text-indent: 30px;
    line-height: 24px;
    white-space: nowrap;
}

#mainbo_footer .main_last_msg p {
    text-indent: 0px;
    text-align: center;
    line-height: 60px;
}

/*# sourceMappingURL=login.css.map */
