<link rel="stylesheet" href="../../../public/footer/css/footer.css">
<div id="mainbo_footer" >
  <!--
  <div id="mainbo_footer" class="mainbo_footer">
    <div>
      <ul>
        <li><p>版权所有：明博教育科技股份有限公司</p><p>版本号：1.5</p></li>
        <li><p>客服热线：400-898-5166</p><p>每天9：00-17：30(法定节假日除外)</p></li>
        <li><img src="http://192.168.0.48/portal/images/code.png"><p>扫一扫,关注我们获得更多教育咨询</p></li>
        <li class="main_last_msg"><p>网站技术支持：明博教育科技股份有限公司</p></li>
      </ul>
    </div>
  </div>-->
</div>