
<div class="nav_tit">
  <a href="../home/index.html">首页</a>  &gt;
  <a href="../news/sitenewsListInCategory.html?currentPage=1&tab=1">新闻列表</a> &gt;
  <span>详情页</span>
</div>

<div class="wrap content clearFix">
  <div class="message-content">

    <div class="content-box" >
      <div class="content-header">
        <h2 class="title_noborder">
          新闻标题
        </h2>
        <p>
          <span class="text-author">作者</span>
          <span class="text-form">来源</span>
          <span class="text-time">时间</span>
        </p>

      </div>

      <div class="" id="newcontent">

        <p class="content-text">
          新闻内容
        </p>
      </div>
    </div>
    <div class="content-link"></div>

  </div>
  <div class="right-wrapper">
    <div class="pic-msg">
      <h3 class="">图片新闻</h3>
      <ul id="pic-news" class="">
        <!--<li class="pic-list">-->
          <!--<a href=""><img src="../home/images/default_news.jpg" alt=""></a>-->
          <!--<p class="suspend">块巨大开始的疯狂你倒是考虑时代峻峰了拉克丝</p>-->
        <!--</li>-->
        <!--<li class="pic-list">-->
          <!--<a href=""><img src="../home/images/default_news.jpg" alt=""></a>-->
          <!--<p class="suspend">块巨大开始的疯狂你倒是考虑时代峻峰了拉克丝</p>-->
        <!--</li>-->
        <!--<li class="pic-list">-->
          <!--<a href=""><img src="../home/images/default_news.jpg" alt=""></a>-->
          <!--<p class="suspend">块巨大开始的疯狂你倒是考虑时代峻峰了拉克丝</p>-->
        <!--</li>-->
        <!--<li class="pic-list">-->
          <!--<a href=""><img src="../home/images/default_news.jpg" alt=""></a>-->
          <!--<p class="suspend">块巨大开始的疯狂你倒是考虑时代峻峰了拉克丝</p>-->
        <!--</li>-->
      </ul>
    </div>
    <div class="important-message">
      <h3 class="imp-title">
        热点推荐
      </h3>
      <ul id="toplistnews" class="imp-message">
        <li></li>
      </ul>
    </div>
  </div>

</div>